body {
    background-color: #181a1b;
    color: #fff;
}
.text-body-secondary {
    color: #fff !important;
}
.dansl-header {
    background-color: #181a1b;
    border-color: rgb(30, 41, 59) !important;
}
.breadcrumb,
.breadcrumb-item,
.breadcrumb-item a {
    color: #fff !important;
    text-decoration: none !important;
    --bs-breadcrumb-divider-color: grey;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead {
    th {
        background-color: #000;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: -1;
            }
        }
    }
}

pre {
    background: #fff;
    color: #000;
    pading: 10px;
}
